.start {
  background-image: url(../images/backgrounds/landing.jpg);
  text-align: center;
  font-size: 22px;
  color: white;
}

.happy {
  background-color: grey;
  padding: 15px;
  text-align: center;
  color: black;
}

.party {
  background-color: orange;
  padding: 15px;
  text-align: center;
  color: white;
}

.break {
  background-image: url(../images/foodtop/breakfast.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  text-align: center;
  color: white;
}

.lunch {
  background-image: url(../images/foodtop/lunch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  text-align: center;
  color: white;
}

.dinner {
  background-image: url(../images/foodtop/dinner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  text-align: center;
  color: white;
}

.container-fluid {
  overflow: hidden;
}

.offset-0 {
  padding-left: 0;
  padding-right: 0;
}

.row {
  margin-top: 0px;
}

font-family: 'Quicksand', sans-serif;
