.start{
  background-image: url(../images/backgrounds/landing.jpg);
  text-align: center;
}

.break{
  background-image: url(../images/foodtop/breakfast.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px;
  text-align: center;
  color: white;
}

.lunch{
  background-image: url(../images/foodtop/lunch.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px;
  text-align: center;
  color: white;

}

.dinner{
  background-image: url(../images/foodtop/dinner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px;
  text-align: center;
  color: white;
}

.container-fluid{
  overflow: hidden;
}

.offset-0 {
    padding-left: 0;
    padding-right: 0;
}
.row{
  margin-top: 0px;
}
font-family: 'Quicksand', sans-serif;
